body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.row, .panel-group .panel {
    margin-bottom: 15px;
}

.panel-heading:hover {
    background-color: #dddddd;
    cursor: pointer;
}

.panel-group {
    overflow-y: hidden;
}

.fixed-panel {
    height: 150px;
    overflow-y: scroll;
}

.search-filter button {
    margin-right: 10px;
    margin-bottom: 5px;
}
