<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ViewCache:Enabled" value="false" />
    <add key="ElasticsearchServer" value="http://demoserver:9200"/>
  </appSettings>
  <connectionStrings>
    <add name="northwnd" connectionString="Data Source=(local)\SQLExpress;Integrated Security=SSPI;Database=NORTHWND;" providerName="ystem.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>