<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fix" version="0.6.1.51456" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Nowin" version="0.11.0.0" targetFramework="net45" />
  <package id="Simple.Owin.Static" version="0.1.1.51912" targetFramework="net45" />
  <package id="Simple.Web" version="0.11.0.51719" targetFramework="net45" />
  <package id="Simple.Web.JsonNet" version="0.11.0.51719" targetFramework="net45" />
  <package id="Simple.Web.Razor" version="0.11.0.51719" targetFramework="net45" />
</packages>