@handler NestDemo.Index

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/site.css" rel="stylesheet">
    <link href="/assets/css/toastr.css" rel="stylesheet"></link>
</head>

<body ng-app="app">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container" ng-view>
    </div>

    <script type="text/ng-template" id="search.html">
        <div class="starter-template">
            <h1>Awesome Nest demo!</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right">
                    <button class="btn btn-primary" ng-click="createIndex()" ng-disabled="updatingIndex">Create index</button>
                    <button class="btn btn-danger" ng-click="deleteIndex()" ng-disabled="updatingIndex">Delete index</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="query" class="form-control" id="query" ng-model="search.Query" placeholder="Search">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button class="btn bt-default" ng-click="showDebug = true" ng-hide="showDebug">Show response</button>
                <button class="btn bt-default" ng-click="showDebug = false" ng-hide="!showDebug">Hide response</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <pre ng-show="showDebug">{{searchResult | json}}</pre>
            </div>
        </div>
    </script>

    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/toastr.min.js"></script>
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-route.min.js"></script>
    <script src="/app/app.js"></script>
</body>
</html>
